.reviewForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ratingContainer {
    display: flex;
    align-items: center;
}

/* Stop review box from being resized */
textarea {
    resize: none;
}

/* Rating Stars */
.userRating {
    float: left;
}
.userRating:not(:checked) > input {
    display: none;
}
.userRating:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.userRating:not(:checked) > label:before {
    content: '★';
}
.userRating > input:checked ~ label {
    color: #ffc700;    
}
.userRating:not(:checked) > label:hover,
.userRating:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.userRating > input:checked + label:hover,
.userRating > input:checked + label:hover ~ label,
.userRating > input:checked ~ label:hover,
.userRating > input:checked ~ label:hover ~ label,
.userRating > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.deleteButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurantPage {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 1px solid black;
    width: 1000px;
    margin: auto;
}

.restaurant {
    width: 250px;
    border: 1px;
}